<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KFDEKC.Edit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KFDEKC.Edit.Properties.Settings>
            <setting name="ThemeType" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="TwiComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DliHostname" serializeAs="String">
                <value />
            </setting>
            <setting name="DliPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DliVariant" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceType" serializeAs="String">
                <value />
            </setting>
            <setting name="KfdDeviceType" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDVMHostname" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDVMPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastDVMPeerID" serializeAs="String">
                <value>0</value>
            </setting>
        </KFDEKC.Edit.Properties.Settings>
    </userSettings>
</configuration>
